import React from 'react';
import * as S from './{{pascalCase name}}.styles';

const {{pascalCase name}}Page = () => (
  <S.Wrapper>
    {{pascalCase name}}
  </S.Wrapper>
);

export default {{pascalCase name}}Page;
