import { getByRole, render } from '@testing-library/react';
import {{pascalCase name}} from '.';

describe('<{{pascalCase name}} />', () => {
  it('should render the heading', () => {
    const { container } = render(<{{pascalCase name}} />);

    expect(getByRole(container, 'heading', { name: /{{pascalCase name}}/i }));
    expect(container.firstChild).toMatchSnapshot();
  })
})
