import React from 'react';
import {{pascalCase name}} from '.';

export default {
  title: '{{pascalCase name}}',
  component: {{pascalCase name}},
};

export const Default = (args: any) => <{{pascalCase name}} {...args} />;
